// Colors
$body-bg: #231F1F;
$body-font-color: #FFF;
$primary-color: #1CAF9A;
$secondary-color: #E7E7E7;
$alert-color: #F04124;
$success-color: #43AC6A;
$warning-color: #F08A24;
$info-color: #A0D3E8;
$code-color: #93A1A1;