@import "settings";
@import "normalize";

// Grid
$row-width: rem-calc(1400);

// Colors
$body-bg: #231F1F;
$body-font-color: #FFF;
$primary-color: #1CAF9A;
$secondary-color: #E7E7E7;
$alert-color: #F04124;
$success-color: #43AC6A;
$warning-color: #F08A24;
$info-color: #A0D3E8;

// Topbar
$topbar-height: 70px;
$topbar-bg: $primary-color;
$topbar-link-bg-hover: darken($topbar-bg, 5%);
$topbar-margin-bottom: rem-calc(30);
$topbar-title-font-size: rem-calc(19);
$topbar-link-font-size: rem-calc(16);
.top-bar > .title-area {
	background: darken($topbar-bg, 5%);
}

// Types
$header-font-color: #EBEBEB;
$subheader-font-color: darken($header-font-color, 30%) !default;


// Article
article {
	padding: 0px;
	margin-bottom: rem-calc(40);
}
article h2 {
	font-weight: 600;
}
article .content, article .infos {
	padding: 15px;
}
.article-img img {
	width: 100%;
}
.infos-block * {
	display: inline;
	font-style: italic;
}

// Sidebar
.sidebar {
	// About me
	.short-bio p {
		font-size: rem-calc(14);
		line-height: 1.4;
	}
	.profile-picture {
		padding-bottom: 15px;
	}
}
// Footbar
.footbar {
	background-color: lighten($body-bg, 40%);
	padding: rem-calc(10);
	// About me
	.short-bio p {
		font-size: rem-calc(14);
		line-height: 1.4;
	}
	.short-bio h4 {
		color: $body-font-color;
		font-weight: bold;
	}
}
@import "foundation";
