@import "settings";
@import "normalize";
@import "colors";

// Topbar
$topbar-height: 70px;
$topbar-margin-bottom: rem-calc(30);
$topbar-title-font-size: rem-calc(19);
$topbar-link-font-size: rem-calc(16);
$topbar-link-bg-hover: darken($topbar-bg, 5%);
.top-bar > .title-area {
	background: darken($topbar-bg, 5%);
}

// Body
$body-bg: url("../assets/noisy_net.png") repeat;

// Contact
.contact-square {
	li {
	margin: 0px;
	padding: 0px;
	text-align: center;
	}
}


.icon {
	color: white;
	font-size: rem-calc(100);
}

@import "foundation";
