<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Victor Bersy - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/blog.css" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" />
    <link rel="stylesheet" href="/stylesheets/foundation-icons.css" />
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{ base.url }}/"><i class="fi-home"></i>Blog</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
        {% if site.categories.size > 0 %}
          <li class="active has-dropdown">
            <a href="{{ base.url }}/categories/">Catégories</a>
            <ul class="dropdown">
            {% for category in site.categories %}
              <li><a href="{{ base.url }}/categories/#{{ category.first }}">{{ category.first | capitalize }}</a></li>
            {% endfor %}
            </ul>
          </li>
        {% endif %}
        </ul>
        <ul class="left">
          <li><a href="{{ base.url }}/posts/">Liste articles</a></li>
          <li><a href="{{ base.url }}/projects/">Projets</a></li>
          <li><a href="{{ base.url }}/contact/">Contact</a></li>
        </ul>
      </section>
    </nav>
