---
layout: blog
---
      <div class="row">
        <div class="small-12 medium-9 large-8 columns articles-list">
          {% if page.header-image %}
          <header>
            <a class="article-img" href="#">
              <img src="/images/{{ page.header-image }}">
            </a>
          </header>
          {% endif %}
          <article>
            <div class="infos">
		          <a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
              <div class="infos-block">
                <p class="date"><i class="fi-calendar"></i> Publié le : {{ page.date | date: "%d/%m/%Y" }}</p>
                <p class="categories"><i class="fi-folder"></i>
                {% for category in page.categories %}
                  <a href="{{ base.url }}/blog/categories/#{{ category }}">{{ category | capitalize }}</a>{% if page.categories.size > 1 and page.categories.last != category %}, {% endif %}
                {% endfor %}
                </p>
              </div>
            </div>
            <div class="content">
              <p>
                {{ content }}
              </p>
            </div>
          </article>
        </div>


